* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0C111B;
    font-family: Roboto;

}

.container {
    max-width: 1500px;
    margin: 0 auto;
}






















































